<!--
  ~ Copyright (c) 2014. Permission to use, copy, modify, distribute and sell this software and its documentation for any purpose is not granted without permission from owner, for more information please contact informeapplications@gmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.informeapps.informeryerson">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name=".Misc.AnalyticsSampleApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_ab_logo"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="ca.informeapps.informeryerson.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/aboutus"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/Preferences"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentLife.Explore.ExploreActivity"
            android:label="Explore"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusLife.Reminders.RemindersActivity"
            android:label="@string/Reminders"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusLife.CampusMap.CampusMapActivity"
            android:label="@string/CampusMap"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusLife.Schedule.ScheduleActivity"
            android:label="@string/my_schedule"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusLife.Directory.DirectoryActivity"
            android:label="@string/Directory"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CampusLife.Bookstore.BookstoreActivity"
            android:label="@string/Bookstore"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusLife.Transit.TransitActivity"
            android:label="@string/Transit_Info"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".CampusLife.Reminders.RemindersReceiver" />

    </application>

</manifest>
